* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right,#24c6dc, #514a9d);
  font-family: "poppins", sans-serif;
}
header{
  font-size: 1.5rem;
}

header,form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,form button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button{
  color: #32b1c2;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: linear-gradient(to right, #5c53bd, #5ccedd);
  color: white ;
}
.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list{
  min-width: 30%;
  list-style: none;
}
.todo{
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li{
  flex: 1;
}
.del-btn, 
.done-btn{
  background: #24c6dc;
  color: black;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.done-btn{
  background: rgb(98, 204, 98);
}

.todo-item{
  padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
  pointer-events: none;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
}

.fall{
  transform: translateY(8em) rotateZ(20deg);
  opacity: 0;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select{
  color: #13a7bb;
  width: 10rem;
  cursor: pointer;
  padding: 1.2rem;
}

.select::after{
  content: "\25BC";
  position: absolute;
  background: #13a7bb;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}

.select:hover::after{
  background: white;
  color: #13a7bb;
}